@import "_vars";
@import "_global";
@import "_fonts";

// start page
// start header

.header {
    padding-top: 65px;
    text-align: center;
    margin-bottom: 100px;
}

.header__title {
    font-family: "DINPro", sans-serif;
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
    color: #344258;
    margin-bottom: 50px;
}

.header__text {
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #08172d;
    margin-bottom: 25px;
}

// end header

// start projects

.projects {
    margin-bottom: 100px;
}

.container.container__projects {
    max-width: 1750px;
    padding: 0 50px;
    margin: 0 auto;
}

.projects__item {
    max-width: 550px;
    width: 100%;
    position: relative;
    z-index: 1;
    img {
        max-width: 550px;
        width: 100%;
    }
}
.projects__shadow {
    position: absolute;
    left: 0;
    bottom: 4px;
    z-index: 2;
}

.projects__item-title {
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    font-family: "MyriadPro-Regular", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    z-index: 3;
}

.projects__load-more {
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    max-width: 360px;
    width: 100%;
    border: 3px solid #00264c;
    font-family: "DINPro-Bold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #344258;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    &:hover {
        background: #243448;
        color: #ffffff;
    }
}

// end projects

// start footer

.footer {
    padding-top: 30px;
    padding-bottom: 90px;
    color: #ffffff;
    background: #0d1b2b;
}

.contact__title {
    text-transform: uppercase;
    font-family: "DINPro-Bold", sans-serif;
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 50px;
}

.contact__text {
    font-family: "MyriadPro-Regular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
    max-width: 380px;
}

.contact__link {
    margin-top: 24px;
    a {
        display: block;
        font-size: 30px;
        line-height: 40px;
    }
}

.contact__mail-site {
    font-family: "MyriadPro-Regular", sans-serif;
    font-weight: 400;
    color: #3d95e3;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 30px 7px;
    border-left: 1px solid #3d95e3;
    span {
        margin-bottom: 7px;
        display: block;
    }
    a {
        font-size: 18px;
        line-height: 22px;
        & + a {
            margin-top: 20px;
        }
    }
}

.contact__form {
    border: 5px solid #243448;
    padding: 30px 35px;
    max-width: 550px;
    width: 100%;
    text-align: center;
    input,
    textarea {
        padding: 18px 35px;
        background: #243448;
        outline: none;
        border: none;
        margin-bottom: 2px;
        max-width: 470px;
        width: 100%;
        color: #ffffff;
        font-size: 20px;
        line-height: 22px;
        font-family: "DINPro-Medium", sans-serif;
        font-weight: 500;
        &::placeholder {
            color: #ffffff;
            font-family: "DINPro-Medium", sans-serif;
            font-size: 15px;
            line-height: 18px;
            font-weight: 500;
        }
    }
    textarea {
        resize: none;
        height: 110px;
    }
    a {
        margin: 16px 0;
        color: #4c89c1;
        text-decoration: underline;
        font-family: "DINPro-Medium", sans-serif;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
    }
    button {
        border: 3px solid #ffffff;
        padding: 17px;
        max-width: 290px;
        width: 100%;
        text-align: center;
        background: transparent;
        color: #ffffff;
        text-transform: uppercase;
        font-family: "DINPro-Bold", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        cursor: pointer;
    }
}

// end footer

// end page

// start popup

.project__popup {
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    color: #344258;
    h3 {
        padding: 30px;
        text-transform: uppercase;
        font-family: "DINPro-Bold", sans-serif;
        font-size: 30px;
        line-height: 34px;
        font-weight: 700;
    }
    p {
        font-family: "MyriadPro-Regular", sans-serif;
        font-weight: 400;
        padding-bottom: 20px;
        text-align: left;
        max-width: 700px;
        margin: 0 auto;
    }
    img {
        max-width: 300px;
        width: 100%;
    }
}

// end popup

@import "_media";
